<?xml version="1.0"?>
<launch>

  <!-- Send the RazBot URDF to param server -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find razbot2_description)/urdf/razbot2.urdf.xacro'" />

  <!-- This node will publish transforms for any fixed joints -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

</launch>
